<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Thanh toán</title>
    <style>
        .info {
            font-weight: bold;
            font-size: 20px;
        }
    </style>
</head>

<body>
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <img th:src="@{/images/vnpay-logo.png}" style="width: 200px">
                    <h2 class="card-title">Xác nhận thông tin</h2>
                    <form th:action="@{/vnp/submitOrder/{flightId}(flightId=${flightId})}" method="post">
                        <div th:each="info,status:${customers}">
                            <fieldset>
                                <legend class="info">Khách hàng <span th:text="${status.count}"></span></legend>
                                <p>Họ tên : <span th:text="*{info.getName()}"></span></p>
                                <p>Giới tính : <span th:text="*{info.getGender()}"></span></p>
                                <p>Quốc gia : <span th:text="*{info.getCountry()}"></span></p>
                                <p>Số ghế : <span th:text="*{info.getNumberOfSeats()}"></span></p>
                            </fieldset>
                        </div>
                        <div class="form-group">
                            <h4 >Số tiền cần thanh toán: <span th:text="${ticketPrice}"></span> VND</h4>
                            <input type="hidden" name="amount" th:value="${#numbers.formatDecimal(ticketPrice, 0,0)}"/>
                            <input type="hidden" name="orderInfo" th:value="Order"/>
                        </div>
                        <button type="submit" class="btn btn-primary">Xác nhận thanh toán</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>
